.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0B141A;

    .login-img {
        max-width: 190px;
    }

    .login-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        form {
            background: #202C33;
            width: 80%;
            max-width: 500px;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 3rem 2rem;
            border-radius: 15px;

            label {
                color: #fff;
            }

            button {
                width: 40%;
                padding: 1rem 2rem;
                margin-inline: auto;
                border: 0;
                border-radius: 8px;
                background: #0283DE;
            }

            input {
                background: #0B141A;
                border: none;
                height: 20px;
                color: #fff;
            }

            .form-error {
                color: red;
            }
        }
    }
}