.sidebar {
    grid-area: sidebar;
    background-color: #111B21;
    border-right: 1px solid #262E33;

    .users_list_title {
        font-size: 2em;
        color: white;
        font-weight: 600;
        text-align: center;
    }

    ul {
        padding-left: 0;
        list-style-type: none;

        li {
            color: #fff;
            padding: 1.5rem;
            border-bottom: 1px solid #262E33;
            width: 80%;
            margin-inline: auto;
        }
    }
}

.absolute_sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    font-size: 12px;
    z-index: 99999999999;

    @media (min-width: 768px) {
        position: relative;
        width: unset;
        font-size: inherit;
    }
}