.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 110px 1fr 40px;
  grid-template-areas:
    "header header"
    "sidebar messages"
    "sidebar input";

  @media (max-width: 768px) {
    grid-template-columns: 0 100%;
  }
}